body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  /* Typography */
  font-family: "Times New Roman", serif;
  font-style: italic;
  text-align: center;

  /* Colors and box model */
  background-color: firebrick;
  color: white;
  padding: 25px;
}

.intro {
  padding-left: 25px;
}

strong {
  background: goldenrod;
}
